<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IComAssist" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4771/ComAssist.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IComAssist" contract="A5service.IComAssist"
                name="BasicHttpBinding_IComAssist" />
        </client>
    </system.serviceModel>
</configuration>
